.how {
  margin-left: 5%;
  margin-top: 3%;
  font-weight: 900;
  font-family: "Inter";
}
.our {
  margin-left: 5%;
  margin-top: 3%;
  font-weight: 700;
  font-family: "Inter";
}
.learn {
  margin-top: 5%;
}
.learner {
  font-family: "Audiowide";
}
.find {
  color: #0000ff;
  margin-left: 8%;
  margin-top: 7%;
  font-family: "Audiowide";
}

.e {
  margin-left: 8%;
  font-family: "Inter";
}
