
.Header_nav{
    background-color: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.226);
    height: 60px;
}
.VulLogo{
    color: #0000FF;
    font-family: 'Audiowide', cursive;
    font-style: normal;
font-weight: 400;
font-size: 30px;
height: 40px;
line-height: 51px;
}
.logoImage{
    height: 45px;
}
.nav_liddd{
    color: black;
    font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
font-family: 'Inter', sans-serif;
}