.MuiAppBar-colorDefault {
  color: white !important;
}
.MuiAppBar-colorPrimary {
  color: white !important;
}

// .css-1y367su-MuiButtonBase-root-MuiButton-root:hover{
//   background-color: #fff !important;
// }
// .css-3hqrk1-MuiButtonBase-root-MuiButton-root:hover {
//   background-color: #fff !important;
// }
// .css-1sy92c3-MuiButtonBase-root-MuiButton-root:hover {
//   background-color:#fff !important;

// }
.css-1ka5eyc-MuiPaper-root-MuiMenu-paper-MuiPopover-paper{
  border-radius: 20px !important;
}