.MuiAppBar-colorDefault {
  color: white !important;
}
.MuiAppBar-colorPrimary {
  color: white !important;
}
.hover-effect {
  transition: background-color 0.3s;
}

.hover-effect:hover {
  background-color: #fff !important; /* Change this to your desired hover color */
}
.menu-item:hover {
  background-color: #fff; /* Change this to your desired hover background color */
  color: #ffffff; /* Change this to your desired hover text color */
}
.css-1y367su-MuiButtonBase-root-MuiButton-root:hover{
  background-color: #fff !important;
}
.css-3hqrk1-MuiButtonBase-root-MuiButton-root:hover {
  background-color: #fff !important;
}
.css-1sy92c3-MuiButtonBase-root-MuiButton-root:hover {
  background-color:#fff !important;

}