.courses-bg-img{
        background-image: url('../../assets//coursesBgImage.png');
        height: 832px;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: end;
        align-items: center;
        

 }
 .coming-soon{
    margin-right: 40px;
     width: 500px;
     height: 500px;

 }
 .coming-soon h1{
    color: blue;
    text-align: center;
}
.coming-soon h4{
    font-family: 'Inter';
    margin-top: 50px;
    font-weight: 700;
    text-align: center;
 }
.coming-soon p{
    margin-top: 50px;
  
    text-align: center;
 }