

.Main_footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #0000FF;
}
ul li{
    list-style: none;
    cursor: pointer;
}
ul li:hover{
    color: rgb(0, 153, 255);
    text-decoration: underline;
}