body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  font-family: "Inter";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Textfield autofill background color */
.css-1x51dt5-MuiInputBase-input-MuiInput-input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.blue-toast {
  background-color: #0000ff; /* Blue color */
  color: #ffffff; /* Text color for the toast */
}
/* Override the progress bar color */
.Toastify__progress-bar {
  background: #0000ff !important;
}

/* Override the tick color */
.Toastify__progress-bar--success {
  background: #0000ff !important;
}
.css-1pux6rn-MuiButtonBase-root-MuiIconButton-root {
  margin-right: none !important;
}

.css-1pux6rn-MuiButtonBase-root-MuiIconButton-root {
  margin-right: 0 !important;
}
.css-e53awj-MuiStack-root{
  justify-content: center;
  align-items: center;
}
.css-1rshsu9-MuiGrid2-root  {
  margin-bottom: 80px !important;
}