body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  font-family: "Inter";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
 
.profile_icon{
  border:red solid 3px !important
  
}
.login_div{
  display: none;
border:solid red 3px;
z-index:3 !important
}

.profile_icon:hover + .login_div,
.login_div:hover {
  display: flex;
} */